
<button (click)="openSession()" type="button">Add Session</button>
<br>

<div *ngIf="sessions">
  <div *ngFor="let session of sessions">
    <p-card header="{{session.title}}" subheader="{{session.date}} / {{session.address.name}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
      <p>{{session.comment}}</p>
      <ng-template pTemplate="footer">
        <p-button label="Join" icon="pi pi-plus-circle"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>






<p-dialog [(visible)]="sessionDialog" [style]="{width: '450px'}" header="Add Session" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form" >
      <div>
        <label for="title">Title: </label>
        <br>
        <input type="text" formControlName="title" id="title">
      </div>
      <br>
      <div>
        <label>Address: </label>
        <br>
        <app-googlemaps-autocomplete
          (chosenAddress)="foundAddress($event)"></app-googlemaps-autocomplete>
      </div>
      <br>
      <div>
        <label for="date">Date: </label>
        <br>
        <input type="date" formControlName="date" id="date">
      </div>
      <br>
      <div>
        <label for="playerCount">Player Count: </label>
        <br>
        <select formControlName="playerCount">
          <option value="">Select a number</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value=">6">>6</option>
        </select>
      </div>
      <br>
      <div>
        <label for="comment">Comment: </label>
        <br>
        <textarea
          id="comment"
          pInputTextarea
          required rows="3"
          cols="20"
          style="width: 300px"
          formControlName="comment"></textarea>
      </div>
    </form>
  </ng-template>



  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveForm()"></button>
  </ng-template>
</p-dialog>

<!--<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>-->
