
  <p-button class="button-space"
            label="Add Session"
            styleClass="p-button-outlined p-button-secondary"
            (click)="openSession()"
  ></p-button>




<div class="card">
  <p-dataView #dv [value]="sessions">
    <ng-template let-session pTemplate="listItem">
      <div class="col-12">
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <div class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
            <div class="flex flex-column align-items-start sm:align-items-start gap-1">
              <div class="text-sm text-600">{{ session.date | date }}</div>

            </div>
            <div class="flex flex-column align-items-start sm:align-items-start gap-1">
              <div class="text-base font-bold text-900">{{ session.title }}</div>
              <div class="text-sm text-900">{{ session.host }}</div>
              <div class="text-sm text-900"><span class="pi pi-map-marker"></span>{{ session.address.name }}</div>
            </div>


            <div class="flex sm:flex-column align-items-start sm:align-items-end gap-1 sm:gap-2">
              <span class="text-sm ">{{ session.comment }}</span>
            </div>

            <div class="flex sm:flex-column align-items-start sm:align-items-end gap-1 sm:gap-2">
              <p-button label="Attend" icon="pi pi-plus-circle" styleClass="p-button-outlined p-button-sm"></p-button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>


<p-dialog [(visible)]="sessionDialog" [style]="{width: '450px'}" header="Add Session" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form" >
      <div>
        <label for="title">Title: </label>
        <br>
        <input type="text" formControlName="title" id="title">
      </div>
      <br>
      <div>
        <label>Address: </label>
        <br>
        <app-googlemaps-autocomplete
          (chosenAddress)="foundAddress($event)"></app-googlemaps-autocomplete>
      </div>
      <br>
      <div>
        <label for="date">Date: </label>
        <br>
        <input type="date" formControlName="date" id="date">
      </div>
      <br>
      <div>
        <label for="playerCount">Player Count: </label>
        <br>
        <select formControlName="playerCount" id="playerCount">
          <option value="">Select a number</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value=">6">>6</option>
        </select>
      </div>
      <br>
      <div>
        <label for="comment">Comment: </label>
        <br>
        <textarea
          id="comment"
          pInputTextarea
          required rows="3"
          cols="20"
          style="width: 300px"
          formControlName="comment"></textarea>
      </div>
    </form>
  </ng-template>



  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveForm()"></button>
  </ng-template>
</p-dialog>

<!--<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>-->
