
<div>

  <google-map
    (mapClick)="click($event)"
    [center]="initialCoordinates"
    [zoom]="12"
  >
    <map-marker
      #marker="mapMarker"
      [position]="marker1.position"
      [title]="marker1.title"
      [icon]="marker1.icon"
      (mapClick)="openInfo(marker)"
      >

    </map-marker>

    <map-info-window>{{marker1.title}} - {{marker1.description}}</map-info-window>

<!--    <map-marker-->
<!--      #markerElem-->
<!--      *ngFor="let marker of markers; let i = index"-->
<!--      [position]="marker.position"-->
<!--      [label]="marker.label"-->
<!--      [title]="marker.title"-->
<!--      [options]="marker.options"-->
<!--      (mapClick)="openInfo(marker, i)"-->
<!--    >-->
<!--    </map-marker>-->



  </google-map>
</div>

<!--<button (click)="zoomIn()">Zoom in</button>-->
<!--<button (click)="zoomOut()">Zoom out</button>-->
<!--<button (click)="logCenter()">Log center</button>-->
<!--<button (click)="addMarker()">Add marker</button>-->
