
<div >

  <google-map

    (mapClick)="click($event)"
    [center]="initialCoordinates"
    [zoom]="12"
    height="100vh"
    width="100%"

  >


      <map-marker
        *ngFor="let m of markers"
        #marker="mapMarker"
        [position]="m.address.position"
        [title]="m.title"
        [icon]="m.icon"
        (mapClick)="openInfo(marker, infoWindow)"
      >
        <map-info-window #infoWindow="mapInfoWindow">
          <div class="text-sm text-600">{{ m.date | date }} at {{ m.date | date:'shortTime' }}</div>
          <br>
          <div class="text-base font-bold text-900">{{ m.title }}</div>
          <br>
          <div class="text-sm text-900">Host: {{ m.host }}</div>
          <br>
          <div class="text-sm text-900"><span class="pi pi-map-marker"></span>{{ m.address.name }}</div>


        </map-info-window>

      </map-marker>



  </google-map>
</div>
