<div class="classCenter">
  <div class="surface-card p-4 shadow-2 border-round xl:w-3 sm:w-full max-w-24rem">
    <div class="text-center mb-5">
      <img src="../../../assets/meeplelogo.png" alt="Image" height="50" class="mb-3">
      <div class="text-900 text-3xl font-medium mb-3">Change Password</div>
    </div>
    <div>
      <form [formGroup]="changeForm" (ngSubmit)="processForm()" #f>

        <label for="email" class="block text-900 font-medium mb-2">Email</label>
        <input id="email" type="text" placeholder="email" formControlName="email" pInputText class="w-full mb-3" name="email">

        <div *ngIf="changeForm.controls['email'].invalid && (changeForm.controls['email'].dirty || changeForm.controls['email'].touched)" class="alert alert-danger">
          <p-message severity="error" text="Please input a valid email"></p-message>
        </div>

        <br>

        <label for="oldPassword" class="block text-900 font-medium mb-2">Old password</label>
        <input id="oldPassword" type="password" placeholder="original password" formControlName="oldPassword" pInputText class="w-full mb-3">

        <div *ngIf="changeForm.controls['oldPassword'].invalid && (changeForm.controls['oldPassword'].dirty || changeForm.controls['oldPassword'].touched)" class="alert alert-danger">
          <p-message severity="error" text="Password length needs to be at least 8 characters"></p-message>
        </div>

        <br>

        <label for="password" class="block text-900 font-medium mb-2">New password</label>
        <input id="password" type="password" placeholder="new password" formControlName="password" pInputText class="w-full mb-3">

        <div *ngIf="changeForm.controls['password'].invalid && (changeForm.controls['password'].dirty || changeForm.controls['password'].touched)" class="alert alert-danger">
          <p-message severity="error" text="Password length needs to be at least 8 characters"></p-message>
        </div>

        <br>

        <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm new password</label>
        <input id="confirmPassword" type="password" placeholder="confirm password" formControlName="confirmPassword" pInputText class="w-full mb-3">

        <div *ngIf="changeForm.invalid && changeForm.controls['confirmPassword'].valid && (changeForm.controls['confirmPassword'].dirty || changeForm.controls['confirmPassword'].touched)" class="alert alert-danger">
          <p-message severity="error" text="Passwords do not match. Please ensure that the passwords entered in both fields are the same"></p-message>
        </div>

        <div *ngIf="changeForm.controls['confirmPassword'].invalid && (changeForm.controls['confirmPassword'].dirty || changeForm.controls['confirmPassword'].touched)" class="alert alert-danger">
          <p-message severity="error" text="Password length needs to be at least 8 characters"></p-message>
        </div>

        <br>

        <button pButton pRipple label="Change Password" icon="pi pi-user" class="w-full" type="submit" [disabled]="changeForm.invalid"></button>
      </form>
    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
