body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 4em;
  color: #ff0000;
}
p {
  text-align: center;
  font-size: 1.5em;
  color: #333;
  margin-top: 30px;
}
img {
  display: block;
  margin: 50px auto;
  width: 50%;
}

.classCenter{
  display: flex;
  justify-content: center;
}

