
<button routerLink="collection">Collection</button>
<button routerLink="signup">Sign Up</button>
<button routerLink="signin">Sign In</button>


<span *ngIf="signedInUser">User: {{signedInUser.username}} </span>


<!--<p-toolbar>-->
<!--  <div class="p-toolbar-group-start">-->
<!--    <p-button label="New" icon="pi pi-plus"></p-button>-->
<!--    <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>-->


<!--  </div>-->

<!--  <div class="p-toolbar-group-end">-->
<!--    <p-button icon="pi pi-search"></p-button>-->
<!--    <p-button icon="pi pi-calendar" styleClass="p-button-success"></p-button>-->
<!--    <p-button icon="pi pi-times" styleClass="p-button-danger"></p-button>-->
<!--  </div>-->
<!--</p-toolbar>-->







<!--<mat-toolbar>-->

<!--  <button mat-icon-button>-->
<!--    <mat-icon>menu</mat-icon>-->
<!--  </button>-->

<!--  <span>Meeple Table</span>-->

<!--  <span class="example-spacer"></span>-->

<!--  <button mat-icon-button>-->
<!--    <mat-icon>collections_bookmark</mat-icon>-->
<!--  </button>-->

<!--  <button mat-icon-button>-->
<!--    <mat-icon>search</mat-icon>-->
<!--  </button>-->

<!--  <button mat-flat-button color="accent" routerLink="signup">-->
<!--    Sign Up-->
<!--  </button>-->

<!--  <button mat-flat-button color="accent">Log In</button>-->

<!--&lt;!&ndash;  <button mat-icon-button>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-icon>login</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--</mat-toolbar>-->
