
<p-toolbar>
  <div class="p-toolbar-group-left">

    <img src="assets/meeplelogo2.png" width="140" height="40">


  </div>


  <div class="p-toolbar-group-right">
    <p-button
      *ngIf="isLoggedIn"
      class="button-space" label="Collection"
      icon="pi pi-box" styleClass="p-button-warning"
      routerLink="collection"></p-button>
    <p-button
      *ngIf="isLoggedIn"
      class="button-space" label="Meetup"
      icon="pi pi-map-marker" styleClass="p-button-warning"
      routerLink="meetup"></p-button>
    <p-button
      *ngIf="!isLoggedIn"
      class="button-space" label="Login"
      icon="pi pi-user" styleClass="p-button-warning"
      routerLink="signin"></p-button>
    <p-button
      *ngIf="isLoggedIn"
      class="button-space" label="Log Out"
      icon="pi pi-user" styleClass="p-button-warning"
      routerLink="signin" (click)="logOut()"></p-button>
    <p-button
      *ngIf="!isLoggedIn"
      class="button-space" label="Register"
      icon="pi pi-user-plus" styleClass="p-button-warning"
      routerLink="signup" ></p-button>

    <p-button
      *ngIf="isLoggedIn"
      label="{{signedInUsername}}"
      styleClass="p-button-outlined p-button-warning">
    </p-button>
  </div>
</p-toolbar>





