:host ::ng-deep .p-dialog .boardgame-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.formfield {
  display: flex;
  align-items: flex-start;
}

.button-space {
  margin-right: .25em;
}
