<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <app-autocomplete (newBgEvent)="addBoardgame($event)"></app-autocomplete>
    </ng-template>

    <ng-template pTemplate="right">
      <p-button class="button-space"
                label="Import"
                styleClass="p-button-outlined p-button-secondary"
                icon="pi pi-download"
                (click)="importCollection()">
      </p-button>
      <p-button class="button-space"
                label="Export"
                styleClass="p-button-outlined p-button-secondary"
                icon="pi pi-upload"
                (click)="saveCollection()">
      </p-button>


    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="boardgames" [rows]="10" [paginator]="true" [globalFilterFields]="['title']" [tableStyle]="{'min-width': '75rem'}"
           [(selection)]="boardgamesSelected" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Collection</h5>
        <span class="p-input-icon-right">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Image</th>
        <th pSortableColumn="title" style="min-width:15rem">Title <p-sortIcon field="title"></p-sortIcon></th>

        <th pSortableColumn="year">Year <p-sortIcon field="year"></p-sortIcon></th>
        <th pSortableColumn="playingTime" style="min-width:10rem">Playing Time <p-sortIcon field="playingTime"></p-sortIcon></th>
        <th pSortableColumn="comment">Comment <p-sortIcon field="comment"></p-sortIcon></th>

        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-boardgame>
      <tr>
        <td>
          <p-tableCheckbox [value]="boardgame"></p-tableCheckbox>
        </td>
        <td><img [src]="boardgame.thumbnail" [alt]="boardgame.name" width="50" height="50" class="shadow-4" /></td>
        <td>{{boardgame.name}}</td>
        <td>{{boardgame.yearPublished}}</td>
        <td>{{boardgame.playingTime}}</td>
        <td>{{boardgame.comment}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(boardgame)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(boardgame)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        <div *ngIf="boardgames.length > 1">
          There are {{boardgames ? boardgames.length : 0 }} boardgames in your collection.
        </div>
        <div *ngIf="boardgames.length === 1">
          There is 1 boardgame in your collection
        </div>
      </div>
    </ng-template>
  </p-table>
</div>



<p-dialog [(visible)]="bgDialog" [style]="{width: '450px'}" header="Edit" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <img [src]="boardgame.thumbnail" [alt]="boardgame.name" class="boardgame-image" *ngIf="boardgame.thumbnail">

    <div class="field">
      <p>Title: {{boardgame.name}}</p>
<!--      <label for="name">Name: </label>-->
<!--      <input type="text" pInputText id="name" [(ngModel)]="boardgame.name" required autofocus />-->
<!--      <small class="p-error" *ngIf="submitted && !boardgame.name">Name is required.</small>-->
    </div>

    <br>

    <div class="field formfield">
      <textarea id="comment"
                pInputTextarea
                [(ngModel)]="boardgame.comment"
                required
                rows="3" cols="20"
                [autoResize]="true"
                placeholder="input your comment here"></textarea>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-toast position="bottom-center"></p-toast>
